@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Zilla+Slab:ital,wght@1,300&display=swap');


.SolutionHeader {
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-size: 25px;
}

@media screen and (max-width: 600px) {
    .SolutionHeader {
        text-align: center;
        font-family: 'Abril Fatface', cursive;
        font-size: 16px;
    }
}
